.country,.township,.regulation,.practice,.prule,.erule{
  width: 100%;
  background: none!important;
  width: calc(100% - 24px);
  margin: 10px auto;
  padding: 0!important;
  .el-card{
    min-height: calc(100vh - 100px)!important;
    border-radius: 10px;
    margin-bottom: 0;
    ::v-deep{
      .el-card__header{
        background-color:#F5F7FA;
        color: #333;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
        padding: 12px 20px;
        span{
          margin-left: 10px;
          line-height: 20px;
          display: inline-block;
        }
        i{
          width: 3px;
          height:16px;
          background-color:#0C9ED7;
          display: inline-block;
          position: relative;
          top: 3px;
        }
      }
      .el-card__body{
        .hflex{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 20px;
          .radiogroup{
            .el-radio-button--—{
              .el-radio-button__inner{
                font-size: 15px;
                .el-badge__content{
                  padding: 0 5px;
                }
                .el-badge__content.is-fixed{
                  top: -3px;
                }
              }
              &.is-active{
                .el-radio-button__inner:hover{
                  color:#fff;
                }
              }
            }
          }
        }
        .catebtn{
          margin-bottom: 20px;
        }
        .el-form{
          width: 30%;
          .el-form-item{

          }
        }
        .el-table{
          .el-table__body{
            .el-button{
              padding:9px 20px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
