.signin,.assistage{
  width: 100%;
  background: none!important;
  padding: 0!important;
  .el-card{
    min-height: calc(100vh - 100px)!important;
    margin-bottom: 0;
    ::v-deep{
      .el-card__header{
        background-color:#F5F7FA;
        color: #333;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
        padding: 12px 20px;
        span{
          margin-left: 10px;
          line-height: 20px;
          display: inline-block;
        }
        i{
          width: 3px;
          height:20px;
          background-color:#E83727;
          display: inline-block;
          position: relative;
          top: 4px;
        }
      }
      .el-card__body{
        .radiogroup{
          margin-bottom: 20px;
          .el-radio-button{
            .el-radio-button__inner:hover{
              color:red;
            }
            &.is-active{
              .el-radio-button__inner:hover{
                color:#fff;
              }
            }
          }
          .el-radio-button__orig-radio:checked + .el-radio-button__inner{
            background-color:red;
            border-color: red;
            box-shadow: -1px 0 0 0 red;
          }
        }
        .el-table{
          .el-table__body{
            .el-button{
              padding:9px 20px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
.el-dialog__body{
  .el-table{
    .el-image{
      width:40px;
      height:40px;
      ::v-deep{
        .imagebox{
          width:100%;
          height:100%;
          display:flex;
          flex-direction:column;
          align-items: center;
          justify-content: center;
          background-color: rgba(0,0,0,.1);
          color: #999;
          font-size:11px;
        }
      }
    }
  }
  .mapitem{
    display:flex;
    height:450px;
    flex-direction:row;
    ::v-deep{
      .mapbox{
        width:100%;
        height:100%;
      }
    }
  }
  .radiogroup {
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
  .el-form{
    .el-form-item{
      &.assbox{
        ::v-deep{
          .el-form-item__content{
            flex-direction:row;
            .el-image{
              width: 150px;
              height: 150px;
              float: left;
              border-radius: 5px;
              box-shadow: 0 1px 3px 1px rgba(0,0,0,.1);
              margin-right: 10px;
              margin-bottom: 10px;
            }
          }
        }
      }
      .el-input, .el-select,.el-textarea ,.el-cascader{
        width: 100%;
      }
      ::v-deep{
        .el-input--small .el-input__inner{
          height: 38px;
          line-height: 38px;
        }
        .el-cascader{
          .el-cascader__tags{
            flex-direction: row;
            max-height: 160px;
            overflow-y: auto;
            .el-tag{
              width: 48%;
              &:first-child{
                margin-left: 10px;
              }
            }
          }
        }
        .el-form-item__content{
          margin-left:0!important;
          display: flex;
          flex-direction: column;
          align-items: center;
          .el-image{
            width:300px;
            height:300px;
          }
        }

        .imagebox{
          width: 150px;
          height: 150px;
          background-color: #f3f3f3;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border-radius: 5px;
          i{
            font-size: 30px;
            color: #999;
          }
          u{
            text-decoration: none;
            font-size: 15px;
            color: #999;
          }
        }
      }
    }
  }
  .el-timeline-item{
    ::v-deep{
      .el-timeline-item__tail{
        border-color: #ceedea;
      }
      .el-timeline-item__node{
        background-color: #3068f5;
      }
    }
    span{
      display:block;
      line-height:24px;
      &.timeuser{
        position: absolute;
        top: -1px;
        left: 170px;
        font-size: 16px;
        u{
          text-decoration: none;
          margin-left:15px;
          font-size: 13px;
          line-height:inherit;
          padding:2px 10px;
          border:1px solid #00A3EF;
          border-radius:25px;
          background-color: #0c9ed7;
          color: #fff;
          position: relative;
          top: -1px;
        }
      }
    }
    .timecont{
      background-color:#F5F7FA;
      padding: 12px 10px;
      width: calc(100% - 30px);
      span{
        &.timemain{
          color: #666;
        }
        &.timenone{
          color: #bfbfbf;
        }
      }
    }
  }
}
.imgdialog{
  height:100vh;
  .el-dialog{
    .el-dialog__body{
      img{
        max-width:100%;
        width:auto;
        height:100%;
      }
      span{
        font-size:14px;
        color: #999;
      }
    }
  }
}
