.global{
  width: 100%;
  height:calc(100% - 127px);
  .glist{
    width: 1400px;
    //height: 100%;
    margin:0 auto;
    padding:60px 160px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    li{
      float: left;
      cursor: pointer;
      width: 33.3%;
      &:nth-child(5),&:nth-child(4){
        position: relative;
      }
      &:first-child,&:nth-child(3),&:nth-child(4){
        .boxflex{
          background: url('~@/assets/home/icon_igreen.png') center no-repeat;
          background-size: 100% 100%;
        }
      }
      &:nth-child(5),&:nth-child(2),&:nth-child(6){
        .boxflex{
          background: url('~@/assets/home/icon_iblue.png') center no-repeat;
          background-size: 100% 100%;
        }
      }
      .boxflex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 280px;
        height:200px;
        margin: 0 auto;
        padding-top:30px;
        i{
          font-size: 60px;
          -webkit-line-clamp: 2;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-image: -webkit-linear-gradient(bottom, #00ceff,#00ffee);
          &.icon-weixing{
            transform: rotate(180deg);
          }
        }
        h3{
          font-size:22px;
          font-weight: normal;
          color: #fff;
          text-shadow: 0 6px 1px rgba(0,0,0,.3);
        }
      }
      &:hover{
        transform:scale(0.9);
        transition:1s all ease-in-out;
        .boxflex{
          background: url('~@/assets/home/icon_iorange.png') center no-repeat;
          background-size: 100% 100%;
          i{background-image: -webkit-linear-gradient(bottom, #f0861f,#fec563);}
        }
      }
    }
  }
  .flist{
    width: 1100px;
    height: 540px;
    margin:40px auto 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //align-items: center;
    &.crlist{
      justify-content: center;
    }
    li{
      float: left;
      height: 50%;
      width: 33.32%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      i.fbg{
        display: inline-block;
        width: 284px;
        height: 100%;
        background: url('~@/assets/land/icontrian.png') top center no-repeat;
        background-size: 100%;
        position: absolute;
        left: 0;
        z-index: 1;
      }
      i.imap{
        display: inline-block;
        width: 150px;
        height: 150px;
        background: url('~@/assets/land/iconmap.png') center no-repeat;
        background-size: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
      }
      .boxflex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
        .iconbox{
          width: 120px;
          height: 120px;
          border: 5px solid rgba(255,255,255,.3);
          border-radius: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          i{
            border: 5px solid #fff;
            border-radius: 50%;
            padding: 20px;
            font-size: 40px;
            color: #fff;
          }
        }
        .iconbox i.icon-weixing{
          transform: rotate(180deg);
        }
        .sfont{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          span{
            color: #fff;
            font-size: 30px;
          }
          .fbtn{
            margin-top: 35px;
          }
        }
        .fbtn{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-top: 16px;
          padding: 12px;
          width: 130px;
          border-radius: 25px;
          i{
            font-size: 16px;
            color: #fff;
          }
          span{
            color:#fff;
            font-size:18px;
            margin-left:5px;
          }
        }
      }

      &:first-child{
        //width:33.35%;
        //height:100%;
        flex-direction: row;
        background: linear-gradient(top,#0078D3,#64BBEB);
        background: -webkit-linear-gradient(top,#0078D3,#64BBEB);
        background: -moz-linear-gradient(top,#0078D3,#64BBEB);
        background: -o-linear-gradient(top,#0078D3,#64BBEB);
        background: -ms-linear-gradient(top,#0078D3,#64BBEB);
        .boxflex{
          width:100%;
          flex-direction: row;
          justify-content: space-around;
          .fbtn{
            background-color:#0071CF;
          }
        }
      }
      &:nth-child(2){
        background: linear-gradient(top,#40B6F6,#7ED0FB);
        background: -webkit-linear-gradient(top,#40B6F6,#7ED0FB);
        background: -moz-linear-gradient(top,#40B6F6,#7ED0FB);
        background: -o-linear-gradient(top,#40B6F6,#7ED0FB);
        background: -ms-linear-gradient(top,#40B6F6,#7ED0FB);
        .boxflex{
          .fbtn{
            background-color:#019ADE;
          }
        }
      }
      &:nth-child(3){
        background: linear-gradient(top,#1AAACE,#63CDE4);
        background: -webkit-linear-gradient(top,#1AAACE,#63CDE4);
        background: -moz-linear-gradient(top,#1AAACE,#63CDE4);
        background: -o-linear-gradient(top,#1AAACE,#63CDE4);
        background: -ms-linear-gradient(top,#1AAACE,#63CDE4);
        .boxflex{
          .fbtn{
            background-color:#18B0CD;
          }
        }
      }
      &:nth-child(4){
        background: linear-gradient(top,#F58935,#FAB788);
        background: -webkit-linear-gradient(top,#F58935,#FAB788);
        background: -moz-linear-gradient(top,#F58935,#FAB788);
        background: -o-linear-gradient(top,#F58935,#FAB788);
        background: -ms-linear-gradient(top,#F58935,#FAB788);
        .boxflex{
          .fbtn{
            background-color:#F78940;
          }
        }
      }
      &:nth-child(5){
        background: linear-gradient(top,#F4B924,#F7D371);
        background: -webkit-linear-gradient(top,#F4B924,#F7D371);
        background: -moz-linear-gradient(top,#F4B924,#F7D371);
        background: -o-linear-gradient(top,#F4B924,#F7D371);
        background: -ms-linear-gradient(top,#F4B924,#F7D371);
        .boxflex{
          .fbtn{
            background-color:#e4b325;
          }
        }
      }
      &:nth-child(6){
        background: linear-gradient(top,#FF8B88,#E36038);
        background: -webkit-linear-gradient(top,#FF8B88,#E36038);
        background: -moz-linear-gradient(top,#FF8B88,#E36038);
        background: -o-linear-gradient(top,#FF8B88,#E36038);
        background: -ms-linear-gradient(top,#FF8B88,#E36038);
        .boxflex{
          .fbtn{
            background-color:#F98C81;
          }
        }
      }
    }
  }
  .plist{
    width: 1150px;
    margin:0 auto;
    padding:60px 100px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    li{
      float: left;
      cursor: pointer;
      width: 33.3%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom:20px;
      &:nth-child(5),&:nth-child(4){
        //position: relative;
        //left: 180px;
        margin-bottom: 0;
      }
      .boxflex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:185px;
        height:185px;
        background: url('~@/assets/pure/iconbg.png') center no-repeat;
        background-size: 100% 100%;
        .iconbg{
          width: 128px;
          height: 128px;
          border-radius: 50%;
          border: 8px solid #BEDFF3;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          i{
            font-size:46px;
            color: #fff;
          }
        }
        .iconbg i.icon-weixing{
          transform: rotate(180deg);
        }
      }
      h3{
        font-size:24px;
        font-weight: normal;
        color: #fff;
        text-shadow: 0 3px 2px rgba(0,0,0,.3);
      }
      &:first-child,&:nth-child(5){
        .boxflex .iconbg{
          background: linear-gradient(bottom,#1A54FE,#18A4FE);
          background: -webkit-linear-gradient(bottom,#1A54FE,#18A4FE);
          background: -moz-linear-gradient(bottom,#1A54FE,#18A4FE);
          background: -o-linear-gradient(bottom,#1A54FE,#18A4FE);
          background: -ms-linear-gradient(bottom,#1A54FE,#18A4FE);
        }
      }
      &:nth-child(2){
        .boxflex .iconbg{
          background: linear-gradient(bottom,#19A56C,#17D0A8);
          background: -webkit-linear-gradient(bottom,#19A56C,#17D0A8);
          background: -moz-linear-gradient(bottom,#19A56C,#17D0A8);
          background: -o-linear-gradient(bottom,#19A56C,#17D0A8);
          background: -ms-linear-gradient(bottom,#19A56C,#17D0A8);
        }
      }
      &:nth-child(3){
        .boxflex .iconbg{
          background: linear-gradient(bottom,#EE8B1E,#EEAC1E);
          background: -webkit-linear-gradient(bottom,#EE8B1E,#EEAC1E);
          background: -moz-linear-gradient(bottom,#EE8B1E,#EEAC1E);
          background: -o-linear-gradient(bottom,#EE8B1E,#EEAC1E);
          background: -ms-linear-gradient(bottom,#EE8B1E,#EEAC1E);
        }
      }
      &:nth-child(4){
        .boxflex .iconbg{
          background: linear-gradient(bottom,#3C21FE,#6F5DFE);
          background: -webkit-linear-gradient(bottom,#3C21FE,#6F5DFE);
          background: -moz-linear-gradient(bottom,#3C21FE,#6F5DFE);
          background: -o-linear-gradient(bottom,#3C21FE,#6F5DFE);
          background: -ms-linear-gradient(bottom,#3C21FE,#6F5DFE);
        }
      }
      &:nth-child(6){
        .boxflex .iconbg{
          background: linear-gradient(top,#FF8B88,#E36038);
          background: -webkit-linear-gradient(top,#FF8B88,#E36038);
          background: -moz-linear-gradient(top,#FF8B88,#E36038);
          background: -o-linear-gradient(top,#FF8B88,#E36038);
          background: -ms-linear-gradient(top,#FF8B88,#E36038);
        }
      }
      &:hover{
        transform:scale(0.9);
        transition:1s all ease-in-out;
      }
    }
  }
}
